.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.title {
    p {
        font-size: 2.4rem;
        font-weight: 600;
        color: var(--text-color);
    }
    height: 40px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.group-item {
    display: flex;
    align-items: center;
    height: 60px;
}

.label-item {
    width: 160px;
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.value-item,
.input-item {
    flex: 1;
    max-width: 400px;
    color: var(--text-color);
    font-size: 1.6rem;
    padding-left: 1.6rem;
    font-weight: 400;
}

.input-item {
    height: 40px;
    outline: 1px solid var(--low-separation-color);
}

.date-input {
    font-size: 1.7rem;
    background-color: transparent;
    color: var(--text-color);
}

.group {
    margin-left: 160px;
    display: flex;
}

.error-msg {
    width: 100%;
    color: var(--red-color);
    font-size: 1.3rem;
    font-weight: 500;
}

// Update Layout

.male-label {
    margin-right: 30px;
}
.female-value {
    margin-left: 30px;
}

.male-label,
.female-label {
    margin-left: 12px;
}

//Button

.button-layout-view,
.button-layout-update {
    margin-top: 40px;
    margin-left: 160px;
    max-width: 400px;
}

.button-layout-update {
    display: flex;
    justify-content: space-between;
}
