.sort-layout {
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 10px 24px;
    padding-top: 0px;
    background-color: rgba(0, 0, 0, 0.05);
}

.lable {
    padding-top: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin-right: 16px;
}

.list {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .item {
        margin-top: 10px;
    }

    // .item + .item {
    //     margin-left: 12px;
    // }
}

.list.button {
    display: flex;
}
.list.select {
    display: none;
}

// Page number
.page {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.number {
    margin: 0 8px;
}

.number-currenly {
    color: var(--red-color);
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 36px;
    background-color: var(--white-color);
}

.control-btn {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.separete-full {
    border-right: 1px solid var(--low-separation-color);
}
@media only screen and (max-width: 35.994em) {
    .sort-layout {
        padding: 10px 6px;
        padding-top: 0px;
    }
    .list.button {
        display: none;
    }
    .list.select {
        display: flex;
    }
}

@media only screen and (max-width: 47.994em) and (min-width: 36em) {
    .sort-layout {
        padding: 10px 12px;
        padding-top: 0px;
    }
}
