// Path
.path {
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    // width: 72.5%;

    &::after {
        content: '';
        position: absolute;
        border-width: 18px 30px;
        border-style: solid;
        border-color: transparent transparent transparent rgba(0, 0, 0, 0.05);

        top: 0%;
        right: -60px;
    }

    .page-name {
        display: flex;
        align-items: center;
        flex: 1;

        span {
            font-style: 1.4rem;
            font-weight: 400;
            padding: 0 24px;

            line-height: 1.8rem;
            height: 2rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
    }
}

// Content
.main-layout {
    display: flex;
}

.content {
    background-color: var(--white-color);
    padding-bottom: 12px;
    border-top: 7px solid var(--primary-color);
    border-radius: 6px;
}

.column-lable {
    height: 50px;
    display: flex;
    align-items: center;

    .columns {
        font-size: 1.6rem;
        font-weight: 500;
        color: #727070;
        display: flex;
        .left-item {
            display: flex;
            justify-content: flex-start;
        }
        .item {
            display: flex;
            justify-content: center;
        }
    }
}

.select-all-layout {
    display: flex;
    align-items: center;
    margin-left: 12px;

    .check-all {
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }

    .select-all-lable {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--text-color);
        background-color: var(--white-color);
    }
}

.cart-list {
    height: 270px;
    overflow: hidden;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    left: 0;
    right: 0;
    align-items: center;
    height: 80px;
    border: 1px solid var(--low-separation-color);

    &:hover {
        background-color: #f1f1f1;
    }
}

.select-layout {
    display: flex;
    align-items: center;
    justify-content: center;

    .check {
        width: 16px;
        height: 16px;
        margin: 0px 12px 0px 14px;
    }
    .image-layout {
        position: relative;
        .image {
            width: 70px;
            height: 70px;
            object-fit: fill;
            margin-left: 12px;
        }
        .image-overlay {
            position: absolute;
            top: 0;
            left: 4px;
            bottom: 0;
            right: 4px;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }
        .image-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
            z-index: 2;
        }
    }
}

.info {
    display: flex;

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .name {
        font-size: 1.5rem;
        font-weight: 500;
        height: 5.4rem;
        line-height: 1.8rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}

.original-price {
    text-decoration: line-through;
    font-size: 1.4rem;
    color: var(--text-color);
}
.current-price {
    font-size: 1.5rem;
    color: var(--red-color);
    font-weight: 500;
}

.amount-layout {
    display: flex;
    align-items: center;

    .amount-value {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.delete-btn {
    font-size: 1.4rem;
    &:hover {
        text-decoration: underline;
        color: var(--primary-color);
    }
}

// Recommend Product
.other-layout {
    background-color: var(--white-color);
    border-radius: 8px;
}
.label {
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    line-height: 2rem;
    font-weight: 600;
    padding-left: 12px;
}

.products-list-row {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

@media only screen and (max-width: 35.994em) {
    .path {
        width: 82.5%;
    }

    .content {
        border-top: none;
    }

    .single-btn-layout {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        background-color: rgba(60, 179, 113, 0.7);
        padding: 10px 20px;
    }

    .hidden-by-mobile {
        display: none;
    }

    .column-lable {
        .columns {
            display: none;
        }
    }
    .cart-list {
        max-height: 480px;
        min-height: 320px;
    }

    .cart-item {
        height: 160px;
    }

    .select-layout {
        .check {
            width: 16px;
            height: 16px;
            margin: 0px 12px 0px 14px;
        }
        .image-layout {
            .image {
                width: 100px;
                height: 100px;
                object-fit: fill;
                margin-left: 12px;
            }
        }
    }

    .info {
        padding: 12px;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        .name {
            height: 3.6rem;
            line-height: 1.8rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        .item {
            justify-content: flex-start;
        }
        .item.price {
            color: var(--red-color);
        }
    }
}

@media only screen and (max-width: 47.994em) and (min-width: 36em) {
    .path {
        width: 82.5%;
    }

    .column-lable {
        .columns {
            display: none;
        }
    }
    .cart-list {
        height: 480px;
    }

    .cart-item {
        height: 160px;
    }

    .select-layout {
        .check {
            width: 16px;
            height: 16px;
            margin: 0px 12px 0px 14px;
        }
        .image-layout {
            .image {
                width: 100px;
                height: 100px;
                object-fit: fill;
                margin-left: 12px;
            }
        }
    }

    .info {
        padding: 12px;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        .name {
            height: 3.6rem;
            line-height: 1.8rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        .item {
            justify-content: flex-start;
        }
        .item.price {
            color: var(--red-color);
        }
    }
}

@media only screen and (max-width: 63.994em) and (min-width: 48em) {
    .select-all-layout {
        .select-all-lable {
            font-size: 1.7rem;
        }
    }
}
