// Path
.path {
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    // width: 72.5%;

    &::after {
        content: '';
        position: absolute;
        border-width: 18px 30px;
        border-style: solid;
        border-color: transparent transparent transparent rgba(0, 0, 0, 0.05);

        top: 0%;
        right: -60px;
    }

    .page-name {
        display: flex;
        align-items: center;
        flex: 1;

        span {
            font-style: 1.4rem;
            font-weight: 400;
            padding: 0 24px;

            line-height: 1.8rem;
            height: 2rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
    }
}

.content {
    background-color: var(--white-color);
    padding: 24px 12px;
    border-radius: 8px;
}

// Info
.main-info-layout {
    display: flex;
    justify-content: center;
    .image-layout {
        height: 320px;
    }
    .info {
        display: flex;
        flex-direction: column;

        .name {
            font-size: 2.4rem;
            font-weight: 700;
            color: var(--text-color);
            margin: 0;
            /* Giới hạn dòng chữ */
            line-height: 2.8rem;
            height: 11.2rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }

        .center {
            flex: 1;
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            .brand {
                display: flex;
                justify-content: flex-start;
                font-size: 1.4rem;
                color: var(--text-color);
                font-weight: 400;
                .brand-name {
                    color: var(--primary-color);
                }
            }

            .price {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                margin: 16px 0;

                .price--original {
                    font-size: 1.6rem;
                    text-decoration: line-through;
                    color: var(--text-color);
                    opacity: 0.8;
                }
                .sale {
                    width: 100px;
                    height: 20px;
                    color: rgba(255, 204, 0, 0.95);
                    background-color: currentColor;
                    margin: 0 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        border-width: 10px;
                        border-style: solid;
                        border-color: currentColor transparent currentColor transparent;

                        top: 0%;
                        left: -10px;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        border-width: 10px;
                        border-style: solid;
                        border-color: transparent transparent transparent currentColor;

                        top: 0%;
                        right: -20px;
                    }

                    .sale__value {
                        font-size: 1.6rem;
                        color: var(--red-color);
                        line-height: 18px;
                        font-weight: bold;
                        margin-left: 8px;
                    }

                    .sale__lable {
                        font-size: 1.3rem;
                        color: var(--white-color);
                        font-weight: 500;
                        line-height: 16px;
                        text-transform: uppercase;
                    }
                }
                .price--discount {
                    font-size: 3rem;
                    text-decoration: none;
                    color: var(--red-color);
                }
            }
        }
    }
}

.btn-pay {
    margin-top: 0px;
}

.info-add {
    margin-top: 24px;
}

// Digital Info
.digital-info {
    .digital-lable {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2rem;
        padding: 10px 0px;
    }
    .digital-list {
        margin-top: 12px;
        margin-right: 12px;

        .digital-item {
            width: 100%;
            min-height: 44px;
            line-height: 2rem;
            display: flex;

            .lable {
                flex: 1;
                font-size: 1.6rem;
                font-weight: 500;
            }
            .value {
                flex: 2;
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
    }
}
// Other Product
.other-layout {
    background-color: var(--white-color);
    border-radius: 8px;
}

.orther-products-lable {
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    line-height: 2.1rem;
    font-weight: 600;
    padding-left: 12px;
}

.view-all-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span {
        font-size: 1.6rem;
        font-weight: 400;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.products-list {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

// Description
.desc-info {
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    .desc-lable {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2rem;
        padding: 10px 0px;
    }
    .desc-introduce {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
    }

    .image {
        width: 80%;
        height: 450px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 35.994em) {
    .path {
        width: 82.5%;
    }

    .content {
        padding: 8px 4px;
        border-radius: 0px;
    }

    .main-info-layout {
        display: flex;
        flex-direction: column-reverse;
        .image-layout {
            height: calc(100vw / 1.2666667);
        }

        .info {
            height: 150px;
            .name {
                /* Giới hạn dòng chữ */
                line-height: 2.8rem;
                height: 5.6rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }
    }

    .desc-info {
        .image {
            width: 100%;
            height: 280px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .btn-layout {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        background-color: rgba(60, 179, 113, 0.7);
        padding: 10px 0px;
    }

    .hidden-by-mobile {
        display: none;
    }
}

@media only screen and (max-width: 47.994em) and (min-width: 36em) {
    .path {
        width: 82.5%;
    }

    .btn-pay {
        margin-top: 10px;
    }

    .main-info-layout {
        .image-layout {
            height: calc(100vw / 1.2666667);
            max-height: 300px;
            max-width: 380px;
        }
        .info {
            height: 280px;
            .name {
                /* Giới hạn dòng chữ */
                line-height: 2.8rem;
                height: 5.6rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }
    }
}

@media only screen and (max-width: 62em) and (min-width: 48em) {
    .main-info-layout {
        .info {
            height: 320px;
        }
    }

    .btn-pay {
        margin-top: 10px;
    }

    .hidden-by-tablet {
        display: none;
    }
}

@media only screen and (min-width: 62.00001em) {
    .main-info-layout {
        .info {
            height: 320px;
        }
    }
}
