.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: var(--header-height);
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding-top: 32px;
}

.content {
    width: var(--width-app);
    display: flex;
    flex-direction: column;
}

.page {
    width: 100%;
}
