.wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: url('../../assets/images/background9.jpg');
    background-image: url('../../assets/images/background_mobile.webp');
}

.container {
    margin-top: calc(var(--header-height) + 32px);
    margin-bottom: 32px;
    max-width: var(--width-app);
    min-height: 550px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 35.994em) {
    .container {
        margin-top: var(--header-height);
    }
}
