.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/images/background.jpg');
}

.content {
    padding-top: calc(var(--header-height) + 30px);
    width: var(--width-app);
}

.page {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 24px;
    border-radius: 6px;
    max-height: 540px;
    min-height: 360px;
    overflow-y: auto;
}
