.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/images/background.jpg');
}

.container {
    width: var(--width-app);
    display: flex;
    flex-direction: column;
    margin-top: var(--header-height);
}

.content {
    display: flex;
    margin-top: 50px;
    margin-right: 12px;
}

.page {
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 12px;
    border-radius: 6px;
}
