.wrapper {
    width: 100%;
}

.products-list {
    margin-top: 12px;
    margin-bottom: 12px;
}

.options {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 32px;
}

.options-list {
    display: flex;
}

.options-item,
.view-all-layout {
    border: 4px solid transparent;
}

.options-item.selection {
    color: var(--red-color);
    border: 4px solid;
    border-color: var(--red-color) transparent var(--red-color) transparent;
}

.view-all-btn {
    span {
        font-size: 1.6rem;
        font-weight: 400;
    }

    &:hover {
        cursor: pointer;
        color: var(--primary-color);
    }
}
