.wrapper {
    width: 100%;
}

.products-list {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.control {
    min-height: 48px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 32px;
}

.options-item,
.view-all-layout {
    border: 4px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
}

.options-item.selection {
    color: var(--red-color);
    border: 4px solid;
    border-color: var(--red-color) transparent var(--red-color) transparent;
}

.view-all-btn {
    overflow: hidden;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    &:hover {
        cursor: pointer;
        color: var(--primary-color);
    }
}

@media only screen and (max-width: 47.994em) {
    .options-item {
        font-size: 1.4rem;
    }
    .view-all-btn {
        overflow: hidden;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 63.9375em) and (min-width: 48em) {
}
