.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.heading {
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--text-color);
}

.no-user {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.7;
}

// Product

.list {
    height: 400px;
    overflow-y: auto;
    background-color: var(--white-color);
    border-radius: 6px;
}

.item {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0 16px;
    margin: 0;
}

.item:hover {
    cursor: pointer;
    background-color: var(--item-hover-color);
}

.item-layout-img {
    width: 76px;
    height: 76px;
    margin: 4px 10px 4px 0px;
}

.item-img {
    width: 76px;
    height: 76px;
    background-size: contain;
    background-repeat: no-repeat;
}

.item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 4px 0;
}

.item-name {
    flex: 7;
    font-size: 1.6rem;
    font-weight: 500;

    text-align: left;
    max-height: 3.6rem;
    line-height: 1.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.item-total {
    flex: 3;
    font-size: 1.6rem;
    display: flex;
    align-items: flex-end;
}

.item-price {
    width: 25%;
    color: var(--red-color);
}

.item-amount {
    font-weight: 500;
    color: var(--primary-color);
}

// Info

.info-layout {
    background-color: var(--white-color);
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 6px;
    justify-content: space-between;
    position: relative;
}

.group {
    height: 20px;
    position: absolute;
    top: 10px;
    left: 25%;

    .error-msg {
        width: 100%;
        color: var(--red-color);
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.full-name,
.phone {
    display: flex;
    margin-top: 16px;
    font-size: 1.6rem;
    .lable {
        flex: 2;
        font-weight: 500;
        color: #727070;
    }
    .value {
        flex: 7;
        font-weight: 500;
        color: var(--text-color);
    }
}

.price {
    display: flex;
    margin-top: 24px;
    font-size: 1.6rem;
    .lable {
        flex: 2;
        font-weight: 500;
        color: #727070;
    }
    .value {
        flex: 7;
        font-weight: 500;
        color: var(--red-color);
    }
}

.select-layout {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    .lable {
        flex: 2;
        font-weight: 500;
        color: #727070;

        &:hover .text {
            display: block;
        }
    }
    .value {
        flex: 8;
        font-weight: 500;
        color: var(--text-color);
        cursor: default;
        .active {
            color: var(--primary-color);
            text-decoration: underline;

            &:hover {
                cursor: pointer;
                color: var(--primary-color);
                opacity: 0.8;
            }
        }
    }
    .text {
        display: none;
    }
    .custom-select {
        height: 30px;
        flex: 7;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--text-color);

        .option {
            width: 50%;
            height: 30px;
            line-height: 2.5rem;
            font-weight: 500;
        }
    }
}

.payment-method {
    width: 100%;
    height: 36px;
    margin-top: 16px;
    border: 1px solid var(--text-color);
    border-radius: 2px;

    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-layout {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.payment-method-layout {
    width: 376px;
}

.payment-method-list {
    margin-top: -8px;
}

.payment-method-item {
    width: 100%;
    padding: 12px 16px;
    display: flex;
    align-items: center;

    .image {
        width: 25px;
        height: 25px;
        object-fit: fill;
    }
    .lable {
        margin-left: 12px;
        font-size: 1.6rem;
        font-weight: 400;
    }

    &:hover {
        background-color: var(--item-hover-color);
    }
}
.payment-method-item.selection-item {
    color: var(--red-color);
}

.discount {
    margin-top: 16px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #727070;

    .discount-code {
        .discount-code-primary {
            font-size: 1.5rem;
            color: var(--primary-color);
        }
    }

    .discount-value {
        margin-top: 8px;

        .discount-value-primary {
            font-size: 1.6rem;
            color: var(--red-color);
        }
    }
}

.footer {
    height: 56px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #f5f5f5;
}

.pay-btn-layout {
    display: flex;
    margin-top: 24px;
    justify-content: end;

    .pay-btn {
        width: 25%;
    }
}
