.heading {
    font-family: var(--font-family);
    font-size: 2.4rem;
    font-weight: bold;
}

.control {
    width: 300px;
    font-family: var(--font-family);
    font-weight: 600;
    border-radius: 2px;
    padding: 12px 0;
    z-index: 20;
}
.results {
    height: 600px;
    overflow-y: auto;
}

.layout-img {
    width: 80px;
    height: 80px;
    margin: 4px 6px 4px 6px;
}

.img {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
}

// Detail Order

.detail {
    padding: 0 60px;

    .title {
        font-size: 2.2rem;
        font-weight: 600;
        opacity: 0.9;
        color: var(--text-color);
        height: 40px;
        margin: 12px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .title2 {
        font-size: 1.8rem;
        font-weight: 500;
        opacity: 0.9;
        color: var(--text-color);
        height: 40px;
        margin: 12px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .receiver-info {
        padding: 0 24px;
        height: 160px;
        display: flex;
        flex: 1;
        flex-direction: column;

        .phone,
        .address,
        .name,
        .map {
            flex: 1;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;

            .text {
                font-size: 1.7rem;
                font-weight: 500;
                color: var(--text-color);
                line-height: 1.8rem;
                height: 1.8rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }

            .icon {
                width: 24px;
                font-size: 1.8rem;
                margin-right: 8px;
            }

            .icon.name-icon {
                color: var(--black-color);
            }

            .icon.address-icon {
                color: var(--red-color);
            }

            .icon.phone-icon {
                color: var(--green-color);
            }

            .icon.map-icon {
                color: var(--primary-color);
            }
        }

        .order-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            // overflow: hidden;
        }
    }

    .product--list {
        width: 100%;
        max-width: 700px;
        padding: 0 24px;

        .product--item {
            display: flex;
            border: 1px solid var(--primary-color);

            .layout-img {
                width: 80px;
                height: 80px;
                margin: 4px 10px;

                .img {
                    width: 80px;
                    height: 80px;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

            .info {
                display: flex;
                flex: 1;
                flex-direction: column;

                .name {
                    display: flex;
                    margin-top: 8px;
                    flex: 3;
                    color: var(--text-color);
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2.2rem;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }

                .total {
                    flex: 2;
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 16px;

                    .price {
                        color: var(--primary-color);
                    }
                    .amount {
                        font-weight: bolder;
                    }
                }
            }
        }
    }

    .create-order {
        max-width: 700px;
    }

    .ship-order {
        width: 100%;
        max-width: 700px;
        // padding: 12px 0px;
        // border: 1px solid var(--low-separation-color);
        .label {
            margin: 0px 24px;
            width: 600px;
            height: 32px;
            padding: 0px 24px;
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--text-color);
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .value {
                margin-left: 12px;
                font-weight: 500;
                color: var(--red-color);
            }

            .value-select {
                margin-left: 12px;
                width: 300px;
                font-size: 1.4rem;
            }
        }
        .label + .label {
            margin-top: 12px;
        }
    }

    .status-detail {
        width: 600px;
        height: 32px;
        margin-top: 12px;
        padding: 0px 24px;
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--text-color);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .value {
            margin-left: 12px;
            font-weight: 500;
            color: var(--red-color);
        }

        .value-select {
            margin-left: 12px;
            width: 300px;
            font-size: 1.4rem;
        }
    }
    .button-layout {
        width: 700px;
        padding: 16px 24px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.separation {
    height: 1px;
    width: 100%;
    margin: 20px 0px;
    padding: 0 20px;
    border-top: 3px dashed var(--primary-color);
}

.group-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .label-item {
        color: var(--black-color);
        font-size: 1.2rem;
        font-weight: 500;
    }

    .input-item {
        width: 100%;
        color: var(--text-color);
        font-size: 1.6rem;
        padding: 0px 1.6rem;
        font-weight: 400;
        height: 40px;
        outline: 1px solid var(--low-separation-color);
    }
}

// No order
.no-order {
    width: 100%;
    height: 200px;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--low-separation-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
