.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.title {
    p {
        font-size: 2.4rem;
        font-weight: 600;
        color: var(--text-color);
    }
    height: 40px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.group-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .label-item {
        color: var(--black-color);
        font-size: 1.2rem;
        font-weight: 500;
    }

    .input-item {
        width: 100%;
        color: var(--text-color);
        font-size: 1.6rem;
        padding: 0px 1.6rem;
        font-weight: 400;
        height: 40px;
        outline: 1px solid var(--low-separation-color);
    }
    .custom-select {
        width: 100%;
        color: var(--text-color);
        font-size: 1.6rem;
        padding: 0 16px;
        font-weight: 400;
        height: 40px;
        outline: 1px solid var(--low-separation-color);
        border: none;
    }
    .error-msg {
        width: 100%;
        color: var(--red-color);
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.confirm-layout {
    display: flex;
    align-items: center;
    .confirm-checkbox {
        max-width: 20px;
        width: 20px;
        height: 20px;
        outline: none;
        padding: 0;
        margin: 0;
    }
    .confirm--label {
        margin-left: 12px;
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.marker-location {
    width: 40px;
    height: 30px;
    color: var(--red-color);
}
.valid,
.not-valid {
    font-size: 1.4rem;
    font-weight: 500;
}
.valid {
    color: var(--green-color);
}
.not-valid {
    color: var(--red-color);
}
.map-layout {
    .map {
        height: 300px;
    }
}

// Address Item
.item-address {
    width: 100%;
    display: flex;
}

.type-address {
    width: 160px;
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 4px;
}

.content {
    display: flex;
}

.info {
    flex: 1;
    max-width: 400px;
    color: var(--black-color);
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.2rem;
}

.icon {
    width: 24px;
}

.icon.map {
    color: var(--primary-color);
}

.icon.location {
    color: var(--red-color);
}

.icon.user {
    color: var(--separation-color);
}

.button-layout {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button + .button {
    margin-left: 16px;
}

@media only screen and (max-width: 35.994em) {
    .hidden-by-mobile {
        display: none;
    }
    .wrapper {
        padding: 12px;
    }
    .item-address {
        flex-direction: column;
    }
    .button-layout {
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .button + .button {
            margin-left: 0;
        }
    }
    .map-layout {
        .map {
            height: 216px;
        }
    }
}

@media only screen and (max-width: 47.994em) and (min-width: 36em) {
    .map-layout {
        .map {
            height: 256px;
        }
    }
}
