// Other Content

.other-content {
    background-color: var(--white-color);
    padding: 16px;
    border-radius: 8px;
}

.free-ship {
    height: 48px;
    line-height: 1.8rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: green;
    display: flex;
    align-items: center;

    .icon {
        margin-right: 8px;
    }
}

.policy {
    border-top: 1px ridge var(--primary-color);
}

.policy-lable {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 12px 0;
    line-height: 2rem;
}

.policy-item {
    display: flex;
    align-items: center;
    .icon {
        margin-right: 8px;
        color: var(--primary-color);
    }

    span {
        flex: 1;
        font-size: 1.4rem;
        line-height: 1.6rem;
        height: 3.2rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: flex;
        align-items: center;
    }
}

.view-add {
    color: var(--primary-color);
    font-size: 1.4rem;
    height: 32px;
    margin-left: 28px;

    &:hover {
        text-decoration: underline;
    }
}
