.notification-wrapper {
    width: 400px;
}

.notification-popper {
    margin-top: -8px;
}

.parent-item {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        font-size: 2rem;

        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    .icon + span {
        padding-left: 4px;
    }

    &:hover {
        color: rgba(255, 255, 255, 0.8);
    }
}

.notify-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 12px;
    background-color: var(--white-color);

    .title {
        cursor: default;
        color: var(--text-color);
        font-size: 1.6rem;
        font-weight: 600;
    }

    .read-all {
        cursor: pointer;
        color: var(--text-color);
        font-size: 1.4rem;
        font-weight: 400;

        &:hover {
            color: var(--primary-color);
        }
    }
}

.notify-list {
    width: 100%;
    padding: 0px;
    list-style: none;
    min-height: 200px;

    .notify-item {
        padding: 4px 12px;
        background-color: #d7e8fe;
        &:hover {
            background-color: var(--item-hover-color);
        }
    }
    .notify-item--viewed {
        background-color: var(--white-color);
    }
}

.notify-link {
    display: flex;
    text-decoration: none;
}

.notify-img {
    width: 50px;
    height: 50px;
}

.notify-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    padding-left: 12px;
}

.notify-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black-color);
    flex: 6;
}

.notify-desc {
    display: block;
    font-size: 1.2rem;
    color: var(--black-color);
    opacity: 0.5;
    flex: 4;
}

.delete {
    width: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 2rem;

    &:hover {
        color: var(--red-color);
    }
}

.notify-footer {
    display: flex;
}

.notify-footer-btn {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bolder;
    text-decoration: none;
    color: var(--primary-color);
    text-align: center;
    font-weight: 300;
    padding: 8px 0px;
}

@media only screen and (max-width: 47.994em) {
    .notification-wrapper {
        width: 75vw;
    }
}

@media only screen and (max-width: 63.9375em) and (min-width: 48em) {
}
