.wrapper {
    width: 100%;
    font-family: var(--font-family);
}

.wrapper + .wrapper {
    margin-top: 8px;
}

.title {
    height: 36px;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 8px;
}

.item {
    padding-left: 8px;
    height: 28px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
        color: var(--red-color);
        background-color: var(--item-hover-color);
    }
}

@media only screen and (max-width: 46.249em) {
    .wrapper {
        .title {
            font-size: 1.3rem;
            height: 28px;
        }

        .item {
            padding-left: 4px;
            font-size: 1.2rem;
            height: 24px;
        }
    }
}

@media only screen and (max-width: 63.9375em) and (min-width: 46.25em) {
}
