.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.title {
    p {
        font-size: 2.4rem;
        font-weight: 600;
        color: var(--text-color);
    }
    height: 40px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.options {
    display: flex;
    height: 40px;
    border: 2px solid #c3daf9;
    border-top: 3px solid var(--primary-color);
    overflow: hidden;

    .active {
        color: var(--red-color);
    }

    .option {
        flex: 1;
        font-size: 1.5rem;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .option + .option {
        border-left: 1px solid #c3daf9;
    }
}

.results {
    border: 1px solid var(--low-separation-color);
    height: 400px;
    overflow-y: auto;
}

// Item

.item {
    width: 100%;
    display: flex;
    border: 1px solid var(--low-separation-color);
    margin-top: 1px;
    font-family: var(--font-family);
}

.item:hover {
    cursor: pointer;
    background-color: var(--item-hover-color);
}

.layout-img {
    width: 80px;
    height: 80px;
    margin: 4px 10px;
}

.img {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
}

.info {
    flex: 1;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
}

.receiver-info {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.phone,
.address,
.name,
.map {
    flex: 1;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.text {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.icon {
    width: 24px;
    font-size: 1.8rem;
    margin-right: 8px;
}

.icon.name-icon {
    color: var(--black-color);
}

.icon.address-icon {
    color: var(--red-color);
}

.icon.phone-icon {
    color: var(--green-color);
}

.icon.map-icon {
    color: var(--primary-color);
}

.order-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
}

.desc {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    margin-top: 6px;
}

.desc,
.total,
.product-one,
.product-two {
    flex: 1;
    display: flex;
    align-content: center;
}

.product-one,
.product-two {
    padding-left: 8px;
    color: var(--text-color);
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.9rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.total {
    font-size: 1.6rem;
}

.price {
    color: var(--primary-color);
}

.amount {
    font-weight: bolder;
}

.extra-info {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.status {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px dashed var(--low-separation-color);

    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}

// Detail Order

.detail {
    padding: 0 30px;
    border: 1px solid var(--black-color);

    .title {
        font-size: 2.2rem;
        font-weight: 600;
        opacity: 0.9;
        color: var(--text-color);
        height: 40px;
        margin: 12px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .receiver-info {
        padding: 0 24px;
        height: 160px;
    }

    .product--list {
        padding: 0 24px;
        .title {
            font-size: 1.8rem;
            font-weight: 500;
            opacity: 0.9;
            color: var(--text-color);
            height: 40px;
            margin: 12px 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .product--item {
            display: flex;
            border: 1px solid var(--primary-color);

            .info {
                display: flex;
                flex-direction: column;

                .name {
                    margin-top: 8px;
                    flex: 3;
                    color: var(--text-color);
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2.2rem;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }

                .total {
                    flex: 2;
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 16px;
                }
            }
        }
    }

    .payment,
    .ship,
    .status-detail,
    .total-order {
        margin-top: 12px;
        padding: 0px 24px;
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--text-color);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .value {
            margin-left: 4px;
            font-weight: 500;
            color: var(--red-color);
        }
    }
    .button-layout {
        padding: 16px 24px;
        display: flex;
        justify-content: space-around;
    }
}

// No order
.no-order {
    width: 100%;
    height: 200px;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--low-separation-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
