.wrapper {
    width: 300px;
    height: 100%;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;

    &:hover {
        width: 100%;
    }

    &:hover .list-categorys {
        opacity: 1;
        visibility: visible;
        display: flex;
    }

    .list-categorys {
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
        overflow-y: auto;
    }

    .list-master {
        min-width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4px 24px;
        background-color: var(--low-primary-color);

        .item {
            min-height: 30px;
            flex: 1;
            display: flex;
            align-items: center;
            color: black;
            font-size: 1.6rem;
            font-weight: 500;
            cursor: pointer;
        }
        .item + .item {
            border-top: 1px solid var(--low-separation-color);
        }
    }
}

@media only screen and (max-width: 47.994em) {
    .wrapper {
        width: 164px;

        .list-master {
            min-width: 164px;
            padding: 4px 8px;
            overflow: hidden;
            overflow-y: auto;

            .item {
                font-weight: 500;
                font-size: 1.3rem;
            }
        }

        .list-categorys {
            flex-direction: row;
        }
    }
}

@media only screen and (max-width: 63.9375em) and (min-width: 48em) {
    .wrapper {
        width: 260px;

        .list-master {
            min-width: 260px;
            padding: 4px 16px;
        }

        .list-categorys {
            flex-direction: row;
        }
    }
}
